// Import reset and base styles
@import 'base';
@import 'reset';

// Import variables and mixins
@import 'variables';
@import 'mixins';

.overlay {
    position: relative;

    .main-bg-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        top: 0;
        right: 0;
    }

    .container {
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
        padding-top: 3.5rem;
        z-index: 100;
    
        .header {
            padding-bottom: 1.2rem;
        
    
            .navbar {
                display: flex; 
                justify-content: space-between;
                align-items: center;
    
                .logo {
    
                }
    
                .navigation {
                    display: flex;
                    align-items: center;
                   
                    .nav-links {
                        display: flex;
                        li {
                            padding-right: 2rem;
                            
                            a {
                                font-size: 1.2rem;
                            }
                        }
                    }
    
                    .auth-buttons {
                        display: flex;
                        align-items: center;
                        
                        button {
                            padding-right: 2rem;
                            font-size: 1rem;
                        }
    
                        .btn-signup {
                            border-radius: 10px;
                            border: 1px solid #000;
                            padding: 10px 25px;
                            margin-right: 3.5rem;
                            font-size: 1rem;
                        }
                    }
    
                    .language-selector {
                        display: flex;
                        align-items: center;

                        span {
                            font-size: 1rem;
                            margin-right: 5px;
                        }

                        button {
                            span {
                                font-size: 1.2rem;
                            }
                        }
                    }
                
                }
            }
        }
    
        .main-section {
            display: flex;
            padding-top: 5rem;
            padding-bottom: 5rem;
    
            .main-content {
                max-width: 40%;

                .main-subtitle {
                    font-size: 1.25rem;
                    color: $primary-red;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .main-title {
                    font-size: 5rem;
                    font-weight: bold;
                    color: $primary-color;
                    padding: 60px 0;
                }

                .main-description {
                    padding-bottom: 3.75rem;
                }

                .main-btns {
                    display: flex;
                    align-items: center;

                    .btn { 
                        
                    }

                    .get-info-btn {
                        background-color: $orange-color;
                        color: #fff;
                        font-weight: bold;
                        border-radius: 10px;
                        font-size: 1.2rem;
                        padding: 25px 45px;
                    }

                    .play-btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $primary-red;
                        border-radius: 100%;
                        width: 60px;
                        height: 60px;
                        margin: 0 55px;

                        span {
                            color: #fff;
                            font-size: 30px;
                        }                     
                    }

                    span {
                        font-size: 1.1rem;
                    }
                }
            }
    
            .main-image {
                
                img {
                    padding-top: -100px;
                }
            }
        }

        .services {
            .services-header {
                h4 {
                    text-align: center;
                    padding-bottom: 1.5rem;
                }
            }
            .services-content {
                display: flex;
                justify-content: center; 
                align-items: center;     
                gap: 3rem; 
                padding: 4rem 0;

                .service-item {
                    display: flex;
                    flex-direction: column;   
                    justify-content: center;  
                    align-items: center;      
                    text-align: center;      
                    padding: 20px;     
                    transition: box-shadow 0.3s;
                    cursor: pointer; 

                    img {
                        max-width: 100%;
                        height: auto;
                        margin-bottom: 15px;
                    }
                    h3 {
                        text-align: center;
                        padding: 1.25rem 0;
                    }
                    p {
                        text-align: center;
                    }

                    &:hover {
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                                    0 6px 20px rgba(0, 0, 0, 0.1);
                        border-radius: 10px;
                    }
                }

            }
        }
    }
}