@import 'variables';

/* Styles for devices with min-width 1051px max-width 1200px */
@media (max-width: $breakpoint-lg) {

    .heading-h3 {
        font-size: 1.1rem;
    }

    .heading-h4 {
        font-size: 1.2rem;
        padding-bottom: 2.5rem;
    }

    .overlay {
        .container {
            max-width: 1000px;

            .header-wrapper {
                .header {
                    padding-bottom: 1.5rem;

                    .navbar {
                        .navigation {
                            .nav-links {
                                li {
                                    padding-right: 1.5rem;

                                    a {
                                        padding-bottom: 3px;
                                        font-size: 1.2rem;
                                    }
                                }
                            }

                            .auth-buttons {
                                margin-left: 1rem;

                                button {
                                    padding-right: 1.5rem;
                                }

                                .btn-signup {
                                    padding: 8px 20px;
                                    margin-right: 2.5rem;
                                }
                            }

                            .language-selector {
                                span {
                                    margin-right: 5px;
                                    font-size: 1rem;
                                }

                                button {
                                    span {
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }

                .main-section {
                    padding-top: 3rem;

                    .main-content {
                        max-width: 60%;

                        .main-title {
                            font-size: 4rem;
                            padding: 50px 0 30px 0;
                        }

                        .main-description {
                            padding-bottom: 2.5rem;
                        }

                        .main-btns {
                            .play-btn {
                                margin-left: 50px;
                            }
                        }
                    }

                    .main-image {
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }

            .services {
                .services-content {
                    gap: 2rem; 
                    padding: 4rem 0;
                    align-items: flex-start;

                    .service-item-overlay {
                        .service-item {
                            min-height: 320px;
                        }
                    }
                }
            }

            .destinations {
                .destinations-content {
                    gap: 3rem;
                    padding: 1rem;

                    .destination-card-overlay {                        
                        .destination-card {
                            width: 100%;
    
                            .img-container {
                                height: 15rem;
                            }
    
                            .destination-card-info {
                                h4 {
                                    padding-bottom: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }

            .steps {
                padding: 3rem 0;

                .steps-content {
                    .steps-header {
                        margin: 0 auto;
    
                        h2, h4 {
                            text-align: center;
                        }
                    }
                }

                .steps-block {
                    flex-wrap: wrap;
                    justify-content: space-around;

                    .steps-list {
                        width: 40%;
                        margin-bottom: 2rem;
                    }

                    .steps-image-container {
                        width: 40%;
                        top: 0;

                        .trip-card {
                            margin-right: 0;

                            .trip-info {
                                p {
                                    width: 80%;
                                }
                            }
                        }

                        .ongoing-trip {
                            margin-top: 10px;
                            width: 250px;
                            left: 50%;
        
                            .ongoing-info {
                                display: flex;
                                gap: 20px;
                                align-items: center;
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }

            .reviews {
                gap: 3rem;

                .reviews-header {
                    .pagination-dots {
                        margin-top: 3rem;
                    }
                }

                .review-content {
                    flex-direction: column;

                    .review-card {
                        width: 80%;
                    }
                }
            }

            .subscribe {
                padding: 0 0 4rem 0;

                .subscribe-wrapper {
                    max-width: 1000px;
                    .subscribe-content {
                        padding: 3rem;

                        .decor-img {
                            display: none;
                        }

                        .subscribe-form {
                            .input-wrapper {
                                span {
                                    left: 100px;
                                }
                            }
                        }
                    }
                }
            }

            .footer {
                padding: 3rem 0;

                .footer-wrapper {
                    .footer-links {
                        gap: 3rem;
                        margin-bottom: 2rem;

                        .footer-column {
                            text-align: center;

                            h3 {
                                padding-bottom: 1rem;
                            }

                            ul {
                                li {
                                    a {
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }

                        .footer-social {
                            .social-icons {
                                margin-bottom: 1rem;

                                a {
                                    width: 50px;
                                    height: 50px;

                                    span {
                                        font-size: 20px;
                                    }
                                }
                            }

                            .app-buttons {
                                img {
                                    height: 35px;
                                }
                            }
                        }
                    }
                }

                .footer-credits {
                    padding: 1.5rem 0 1rem 0;
                }
            }
        }
    }
}

/* Styles for devices with min-width 901px and max-width 1050px */
@media (max-width: $breakpoint-md-lg) {
    .overlay {
        .container {
            padding: 0 20px;

            .destinations {
                .destinations-content {
                    .destination-card-overlay {                        
                        .destination-card {
                            width: 100%;
                        }
                    }
                }
            }

            .steps {
                .steps-block {
                    flex-direction: column;

                    .steps-list {
                        padding-left: 5rem;
                        width: 100%;
                    }

                    .steps-image-container {
                        padding-left: 5rem;
                        width: 50%;

                        .trip-card {
                            width: 100%;
                        }

                        .ongoing-trip {
                            left: 70%;
                        }
                    }
                }
            }

            .reviews {
                flex-direction: column;

                .reviews-header {
                    h4, h2 {
                        text-align: center;
                    }

                    .pagination-dots {
                        justify-content: center;
                    }
                }

                .review-content {
                    padding-left: 5rem;

                    .review-card {
                        width: 70%;
                    }
                }
            }

            .partner-logos {
                padding: 2rem 0;

                .partner-list {
                    padding-left: 30px;
                }
            }

            .subscribe {
                .subscribe-wrapper {
                    max-width: 800px;

                    .subscribe-content {
                        .subscribe-form {
                            .input-wrapper {
                                span {
                                    left: 60px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Styles for devices with min-width 601px and max-width 900px */
@media (max-width: $breakpoint-md) {

    .heading-h2 {
        font-size: 2rem;
    }

    .overlay {
        .container {
            padding: 20px;

            .call-btn {
                width: 50px;
                height: 50px;

                span {
                    font-size: 1.5rem;
                }
            }

            .header-wrapper {
                .header {
                    .navbar {
                        display: block;

                        .logo {
                            text-align: center;
                            padding-bottom: 20px;

                            img {
                                width: 70px;
                                height: 40px;
                            }
                        }

                        .navigation {
                            justify-content: space-between;

                            .nav-links {
                                display: none;
                                flex-direction: column;
                                position: fixed;
                                top: 0;
                                right: -100%; 
                                width: 400px;
                                height: 100%;
                                background-color: white;
                                box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
                                padding: 2rem 1rem;
                                z-index: 999;

                                &.active {
                                    display: flex;
                                    right: 0;
                                }

                                .menu-header {
                                    display: block;

                                    img {
                                        width: 70px;
                                        height: 40px;
                                        padding-bottom: 20px;
                                    }

                                    .close-menu {
                                        font-size: 1.5rem;
                                        cursor: pointer;
                                        position: absolute;
                                        top: 20px;
                                        right: 20px;
                                        z-index: 900;
                                    }
                                }

                                li {
                                    padding: 1rem 0;
                                    border-bottom: 1px solid #ccc;
                                }
                            }

                            .auth-buttons {
                                margin-left: 0;

                                button {
                                    font-size: 1.2rem;
                                    
                                    &:first-child {
                                        padding-right: 3rem;
                                    }
                                }
                            }

                            .language-selector {
                                padding-left: 1rem;

                                span {
                                    font-size: 1.2rem;
                                }
                            }

                            .burger {
                                display: flex; 
                                cursor: pointer;
                                position: absolute;
                                top: 20px;
                                right: 20px;

                                span {
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }

                .main-section {
                    display: block;

                    .main-content {
                        max-width: 90%;
                        text-align: center;

                        .main-title {
                            font-size: 3rem;
                        }
                    }

                    .main-image {
                        display: none;
                    }
                }
            }

            .services {
                .services-content {
                    flex-wrap: wrap;
                    padding-top: 2rem;
                    
                    .service-item-overlay {
                        width: 45%;
                    }
                }
            }

            .destinations {
                .destinations-content {
                    gap: 2rem;
                    padding: 0;

                    .destination-card-overlay {
                        width: 47%;
                    }
                }
            }

            .faq-section {
                display: block;
                
                .faq-header {
                    width: 100%;
                }
            }

            .steps {
                .steps-content {
                    .steps-header {
                        width: 90%;
                    }
                }

                .steps-block {
                    .steps-list {
                        padding-left: 0;
                    }

                    .steps-image-container {
                        width: 80%;
                        padding-left: 3rem;

                        .trip-card {
                            .trip-image {
                                margin: 20px 0;
                            }
                        }
                    }
                }
            }

            .reviews {
                .swiper {
                    width: 90%;

                    .swiper-wrapper {
                        margin-bottom: 20px;

                        .swiper-slide {
                            width: 100%;
                        }
                    }
                }
            }

            .partner-logos {
                .partner-list {
                    flex-wrap: wrap;
                    justify-content: space-around;
                    gap: 10px;
                    
                    img {
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }

            .subscribe {
                .subscribe-wrapper {
                    .subscribe-content {
                        padding: 2rem;

                        img {
                            width: 60px;
                            height: 60px;
                            right: -5px;
                        }

                        h2 {
                            font-size: 1.3rem;
                            line-height: 2.5rem;
                        }

                        .subscribe-form {
                            .input-wrapper {
                                display: block;

                                input {
                                    width: 90%;
                                    margin-bottom: 20px;
                                }
                                span {
                                    top: 22%;
                                    left: 50px;
                                }
                            }
                        }
                    }
                }
            }

            .footer {
                padding-bottom: 0;

                .footer-wrapper {
                    display: block;

                    .logo-footer {
                        margin-bottom: 2.5rem;
                    }

                    .footer-links {
                        .footer-column {
                            display: block;
                            width: 33%;
                        }

                        .footer-social {
                            display: block;
                            width: 100%;

                            .app-buttons {
                                img {
                                    &:first-child {
                                        margin-bottom: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }

                .footer-credits {
                    padding: 1rem 0;
                }
            }
        }
    }
}

/* Styles for devices with max-width 450px (small phones) */
@media (max-width: $breakpoint-xs) {
    .heading-h2 {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .heading-h4 {
        font-size: 1.1rem;
        padding-bottom: 1.5rem;
    }

    .overlay {
        .container {
            .header-wrapper {
                .header {
                    .navbar {
                        .navigation {
                            .nav-links {
                                width: 300px;
                            }
                            .auth-buttons {
                                button {
                                    font-size: 1rem;
                                }
                            }

                            .language-selector {
                                span {
                                    font-size: 1rem;
                                }

                                button {
                                    span {
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }

                .main-section {
                    padding-top: 2rem;
                    padding-bottom: 3.5rem;

                    .main-content {
                        max-width: 100%;

                        .main-title {
                            font-size: 2.5rem;
                            padding-top: 30px;
                        }

                        .main-description {
                            padding-bottom: 2rem;
                        }

                        .main-btns {
                            display: block;

                            .get-info-btn {
                                width: 100%;
                                padding: 20px 0;
                            }

                            .play-btn {
                                display: none;
                            }

                            .primary-text {
                                display: none;
                            }
                        }
                    }
                }
            }

            .services {
                .services-content {
                    padding: 2rem 0;

                    .service-item-overlay {
                        width: 100%;
                    }
                }
            }

            .destinations {
                .destinations-content {
                    .destination-card-overlay {
                        width: 100%;
                    }
                }
            }

            .faq-section {
                padding: 1.5rem 0 0 0;
                .faq-header {
                    h4, h2 {
                        text-align: center;
                    }
                }
            }

            .steps {
                padding-bottom: 0;

                .steps-block {
                    padding-top: 2rem;

                    .steps-list {
                        padding-left: 0;
                    }

                    .steps-image-container {
                        width: 100%;
                        padding-left: 0;
                    }
                }

                .ongoing-trip {
                    position: static !important;
                    text-align: center;
                    margin: 0 auto;
                    width: 100% !important;
                }
            }

            .reviews {
                .swiper {
                    width: 100%;
                    padding: 20px;

                    .swiper-wrapper {
                        .swiper-slide {
                            .review-card {
                                .review-text {
                                    .text {
                                        padding-left: 20px;
                                        line-height: 1.75;
                                    }
        
                                    .author-review {
                                        font-size: 1rem;
                                    }
                                }
        
                                .slider-arrows {
                                    position: static;
                                }
                            }
                        }
                    }
                }
            }

            .partner-logos {
                padding: 1rem 0;

                .partner-list {
                    gap: 0;
                    padding-left: 0;

                    img {
                        display: block;

                        &:first-child {
                            padding-right: 15px;
                        }

                        &:last-child {
                            display: none;
                        }
                    }
                }
            }

            .subscribe {
                padding: 0;

                .subscribe-wrapper {
                    .subscribe-content {
                        padding: 1.5rem;

                        h2 {
                            font-size: 1.1rem;
                            line-height: 1.75;
                            padding-bottom: 1rem;
                        }

                        .message-img {
                            width: 45px;
                            height: 45px;
                            right: 0;
                        }

                        .subscribe-form {
                            .input-wrapper {
                                input {
                                    width: 100%;
                                    margin-bottom: 15px;
                                }

                                span {
                                    left: 15px;
                                    font-size: 20px;
                                }

                                .submit-btn {
                                    margin-left: 0;
                                    width: 100%;
                                    font-size: 1.1rem;
                                }
                            }
                        }
                    }
                }
            }

            .footer {
                .footer-wrapper {
                    .logo-footer {
                        margin-bottom: 2rem;

                        img {
                            width: 80px;
                            margin-bottom: 1rem;
                        }
                    }

                    .footer-links {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 15px;
                        margin-bottom: 1rem;

                        .footer-column {
                        width: 45%;

                            h3 {
                                font-size: 1rem;
                                padding-bottom: 0;
                            }
                        }
                    }
                }

                .footer-credits {
                    font-size: 0.9rem;
                }
            }
        }
    }
}