@import 'variables'; 

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 9998;
    visibility: hidden;
    transition: all 0.3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal {
        position: relative;
        z-index: 10000;
        background-color: #fff;
        padding: 50px;
        border-radius: 10px;
        max-width: 400px;
        margin: 50px auto;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            font-size: 2rem;
            color: #ff6b00;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: #e65900;
            }
        }

        .modal-title {
            font-size: 1.5rem;
            font-weight: 700;
            margin: 30px 0;
            color: #121c67;
            text-align: center;
        }

        .callback-form {
            display: flex;
            flex-direction: column;

            .form-group {
                margin-bottom: 15px;

                label {
                    display: block;
                    font-weight: 600;
                    margin-bottom: 5px;
                    color: #121c67;
                }

                input[type="text"],
                input[type="tel"] {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 1rem;
                }

                &.form-checkbox {
                    display: flex;
                    align-items: center;

                    input[type="checkbox"] {
                        margin-right: 10px;
                    }

                    label {
                        font-weight: 400;
                    }
                }
            }

            .btn-submit {
                background-color: $intense-orange;
                color: #fff;
                padding: 15px 0;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;
                width: 100%;
                margin-top: 10px;

                &:hover {
                    background-color: $intense-orange;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-md) {
    .modal-container {    
        .modal {
            margin: 0 auto;
            width: 80%;
        }
    }
}

@media (max-width: $breakpoint-xs) {
    .modal-container {    
        .modal {
            padding: 20px;
    
            .close {
                font-size: 1.2rem;
            }
    
            .modal-title {
                font-size: 1.2rem;
            }
        }
    }
}