// Color Variables
$primary-color: #181E4B;
$secondary-color: #2ecc71;
$background-color: #ecf0f1;
$font-color: #2c3e50;
$subtitle-color: #5E6282; 
$primary-red: #DF6951;
$light-gray: #F5F5F5;
$orange-color: #ef6a31;
$intense-orange: rgb(255, 102, 0);
$gray: #84829A;
$dark-grey: #5E6282;

// Spacing Variables
$base-padding: 10px;
$base-margin: 10px;

// Font Variables 
$base-font-size: 16px;
$heading-font-family: 'Arial', sans-serif;
$body-font-family: 'Helvetica', sans-serif;

// Media breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Calculate breakpoints minus 0.02px to avoid overlapping
$breakpoint-lg-minus: $breakpoint-lg - 0.02px;
$breakpoint-xl-minus: $breakpoint-xl - 0.02px;
