// Color Variables
$primary-color: #181E4B;
$secondary-color: #2ecc71;
$background-color: #ecf0f1;
$font-color: #2c3e50;
$subtitle-color: #5E6282; 
$primary-red: #DF6951;
$orange-color: #F1A501;

// Spacing Variables
$base-padding: 10px;
$base-margin: 10px;

// Font Variables 
$base-font-size: 16px;
$heading-font-family: 'Arial', sans-serif;
$body-font-family: 'Helvetica', sans-serif;
